<%= form_for @user do |f| %>
  <div class="field">
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div class="field">
    <%= f.text_field :location, placeholder: "location" %>
  </div>

  <div class="field">
    <%= f.text_field :party, placeholder: "party" %>
  </div>

  <div class="field">
    <%= f.text_field :email, placeholder: "email" %>
  </div>

  <div class="field">
    <%= f.text_field :profile_pic, placeholder: "profile picture url" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "password" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
