<!-- Hero Content  -->
<section class="profile-hero">
  <div class="profile-hero-graphic" style="background-image: url('<%= @user.profile_pic %>')">
  </div>
</section>

<div class="profile-header">
  <div class="profile-edit-button-box">
    <%= button_to 'Edit', edit_user_path(@user), method: :get, class: 'btn btn-outline-secondary', :id => 'profile-edit-button' %>
  </div>
  <div class="profile-img" style="background-image: url('<%= @user.profile_pic %>')"></div>
      <div class="profile-name">
          <p><%= @user.first_name %> <%= @user.last_name %></p>
     </div>
     <div class="profile-party">
       <p>Party: <span class="profile-party-value"><%= @user.party %></span> </p>
     </div>
     <div class="profile-details">
       <p><%= @user.location %> &nbsp&nbsp|&nbsp&nbsp <%= @user.email %></p>
     </div>
</div>


<section class="profile-content">
  <div class="survey-edit-button-box">
    <%= link_to 'Edit', edit_user_path(@user), method: :get, :id => 'survey-edit-button' %> &nbsp|&nbsp
    <%= link_to 'Delete', edit_user_path(@user), method: :get, :id => 'survey-edit-button' %>
  </div>
  <p>Your Compatability Results</p>
  <div class="col-md-2 offset-md-3 candidate-percent-box">
    <div class="candidate-percent">
      <div class="profile-img-candidate" style="background-image: url('/images/HillaryOverlay.png')">
        <p>75%</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="candidate-percent">
      <div class="result-button"><%= button_to 'View Details', results_path, method: :get, class: 'btn btn-outline-danger', :id => 'cta-button' %></div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="candidate-percent">
      <div class="profile-img-candidate" style="background-image: url('/images/TrumpOverlay.png')">
        <p>35%</p>
      </div>
    </div>
  </div>
</section>
 
