<!-- Hero Content  -->
<section class="hero">
	<div class= "col-md-12" id="hero-headline-block">
		<p id="hero-headline">choose.</p>
	</div>
</section>

<!-- Call to Action Content -->
<section class="cta">
	<p class="cta-header col-md-12 offset-md-0 col-sm-10 offset-sm-1">You think you know where you stand. But are you sure?</p>
	<%= button_to 'Find Out', new_survey_path, method: :get, class: 'btn btn-outline-danger', :id => 'cta-button' %>
</section>

<!-- Candidate Content -->
<section class="candidates-section">
	<!-- Hillary Section -->
	<div class="container col-md-4 offset-md-1 col-sm-12 candidate-box">
		<!-- Candidate Details -->
		<div class="col-md-12 candidate-head">
			<div class="candidate-img" style="background-image: url('/images/Hillary.jpg')"></div>
			<p class="candidate-name">Hillary Rodham Clinton</p>
			<p>Party: <span class="candidate-party-left">Democrat</span></p>
			<hr>
		</div>
		<!-- Candidate Policies -->
		<div class="col-md-12 candidate-policies-box">
			<p class="policy-name"><%= @policy.name %></p>
			<div class="col-md-5 offset-md-1 policy-value-left">
				<p><%= @policy.left %></p>
			</div>
			<div class="col-md-5 policy-value-right">
				<p><%= @policy.right %></p>
			</div>
			<div class="col-md-10 offset-md-1 policy-slider">
				<img class="policy-slider-img" src="/images/left-slider.png">
			</div>
		</div>
		<div class="col-md-10 offset-md-1 candidate-quote">
			<p class="quote-text"><%= @policy.hillary_quote %></p>
		</div>
		<div class="col-md-12 candidate-button-box">
			<hr>
			<a href="/policies" id="cta-button" type="button" class="btn btn-outline-danger" type="submit">See More</a>
		</div>
	</div>
	<!-- Trump Section -->
	<div class="container col-md-4 offset-md-1 col-sm-12 candidate-box">
		<div class="col-md-12 candidate-head">
			<div class="candidate-img" style="background-image: url('images/Trump.jpg')"></div>
			<p class="candidate-name">Donald John Trump, Sr.</p>
			<p>Party: <span class="candidate-party-right">Republican</span></p>
			<hr>
		</div>
		<!-- Candidate Policies -->
		<div class="col-md-12 candidate-policies-box">
			<p class="policy-name"><%= @policy.name %></p>
			<div class="col-md-5 offset-md-1 policy-value-left">
				<p><%= @policy.left %></p>
			</div>
			<div class="col-md-5 policy-value-right">
				<p><%= @policy.right %></p>
			</div>
			<div class="col-md-10 offset-md-1 policy-slider">
				<img class="policy-slider-img" src="images/right-slider.png">
			</div>
			<div class="col-md-10 offset-md-1 candidate-quote">
				<p class="quote-text"><%= @policy.trump_quote %></p>
			</div>
		</div>
		<div class="col-md-12 candidate-button-box">
			<hr>
			<a href="/policies" id="cta-button" type="button" class="btn btn-outline-danger" type="submit">See More</a>
		</div>
	</div>
	<div class="col-md-12 mobile-candidates-button">
		<p>See Where Your Candidates Stand on the Major Issues</p>
		<a href="/policies" id="cta-button" type="button" class="btn btn-outline-primary lol-button" type="submit">Check It Out</a>
	</div>
</section>