<div class="candidates-page-header col-md-12">
  <p>Where Do Our Candidates Stand?</p>
</div>

<!-- Candidate Content -->
<section class="candidates-section-candidate-page">
  <!-- Hillary Section -->
  <div class="col-md-4 offset-md-1 col-xs-10 offset-xs-1 candidate-box-candidate-page">
    <!-- Candidate Details -->
    <div class="col-md-12 candidate-head">
      <div class="candidate-img-candidate-page" style="background-image: url('images/Hillary.jpg')"></div>
      <p class="candidate-name-candidate-page">Hillary Rodham Clinton</p>
      <p>Party: <span class="candidate-party-left">Democrat</span></p>
      <hr>
    </div>
    <!-- Candidate Policies -->
    <% @policies.each do |policy| %>
      <div class="col-md-12 candidate-policies-box">
        <p class="policy-name"><%= policy.name %></p>
        <div class="col-md-5 offset-md-1 col-xs-6 policy-value-left">
          <p><%= policy.left %></p>
        </div>
        <div class="col-md-5 col-xs-6 policy-value-right">
          <p><%= policy.right %></p>
        </div>
        <% if policy.hillary_choice == "Left" %>
          <div class="col-md-10 offset-md-1 policy-slider">
            <img class="policy-slider-img" src="images/left-slider.png">
          </div>
        <% elsif policy.hillary_choice == "Middle" %>  
          <div class="col-md-10 offset-md-1 policy-slider">
            <img class="policy-slider-img" src="images/middle-slider.png">
          </div>
        <% else %> 
          <div class="col-md-10 offset-md-1 policy-slider">
            <img class="policy-slider-img" src="images/right-slider.png">
          </div>  
        <% end %>  
        <div class="col-md-10 offset-md-1 candidate-quote">
          <p class="quote-text">"<%= policy.hillary_quote %>"</p>
        </div>  
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    <% end %>
    <%= button_to 'View More Resources', "https://www.hillaryclinton.com/", method: :get, class: 'see-more-button btn btn-outline-danger', :id => 'cta-button' %>
  </div>

  <!-- Trump Section -->
  <div class="col-md-4 offset-md-2 col-xs-10 offset-xs-1 candidate-box-candidate-page">
    <div class="col-md-12 candidate-head">
      <div class="candidate-img-candidate-page" style="background-image: url('images/Trump.jpg')"></div>
      <p class="candidate-name-candidate-page">Donald John Trump, Sr.</p>
      <p>Party: <span class="candidate-party-right">Republican</span></p>
      <hr>
    </div>
    <!-- Candidate Policies -->
    <% @policies.each do |policy| %>
      <div class="col-md-12 candidate-policies-box">
        <p class="policy-name"><%= policy.name %></p>
        <div class="col-md-5 col-xs-6 offset-md-1 policy-value-left">
          <p><%= policy.left %></p>
        </div>
        <div class="col-md-5 col-xs-6 policy-value-right">
          <p><%= policy.right %></p>
        </div>
        <% if policy.trump_choice == "Left" %>
          <div class="col-md-10 offset-md-1 policy-slider">
            <img class="policy-slider-img" src="images/left-slider.png">
          </div>
        <% elsif policy.trump_choice == "Middle" %>  
          <div class="col-md-10 offset-md-1 policy-slider">
            <img class="policy-slider-img" src="images/middle-slider.png">
          </div>
        <% else %> 
          <div class="col-md-10 offset-md-1 policy-slider">
            <img class="policy-slider-img" src="images/right-slider.png">
          </div>  
        <% end %>  
        <div class="col-md-10 offset-md-1 candidate-quote">
          <p class="quote-text">"<%= policy.trump_quote %>"</p>
        </div>  
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    <% end %>
    <%= button_to 'View More Resources', "https://www.donaldjtrump.com/", method: :get, class: 'see-more-button btn btn-outline-danger', :id => 'cta-button' %>
  </div>
</section>
